body {
    background: center no-repeat url("../img/nebulu_2400_2279.jpg");
    background-size: cover;
    background-position: center;

    font-size: 18px;
}

.block {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    padding: 16px;
}

.container {
    max-width: 800px;
}