@model MomentIndexViewModel;

@{ 
    ViewData["Title"] = "Момент";
}

<div>
    Нумерология момента Вашего нахождения здесь предскажет Ваше будущее
</div>

<div>
    <div>
        <div>
            @Model.Number
        </div>

        <div>
            Число момента
        </div>
    </div>

    <div>
        <div>
            <div>
                Дата
            </div>
            <div>
                @Model.Date
            </div>
        </div>

        <div>
            <div>
                Время
            </div>
            <div>
                @Model.Date
            </div>
        </div>

        <div>
            <button>
                Обновить
            </button>

            <div>
                Обратитесь к вселенной с волнующим Вас вопросом
            </div>
        </div>
    </div>

    <div>
        @Model.Prediction
    </div>
</div>