@model MomentIndexViewModel;

@{ 
    ViewData["Title"] = "Момент";
}

<div>
    Нумерология момента Вашего нахождения здесь предскажет Ваше будущее
</div>

<div>
    <div>
        <div>
            @Model.Number
        </div>

        <div>
            Число момента
        </div>
    </div>
</div>