@model int

<vc:view-styles from="Views/Components/Number/Number.css" />

<div class="numerologic__number d-flex align-items-center justify-content-center w-100">
    <img src="~/img/seal_2.svg" />

    <div class="numerologic__number__value">
        @Model
    </div>
</div>